body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: whitesmoke;
}
.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-header {
  min-width: 98%;
  margin: 0;
}

.main-page-header-text{
  font-weight: 400;
  font-size: 40px;
  font-family: sans-serif;
}
