body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: whitesmoke;
}
.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-header {
  min-width: 98%;
  margin: 0;
}

.main-page-header-text{
  font-weight: 400;
  font-size: 40px;
  font-family: 'Limelight', cursive;
}

.main-page-show-lists {
  display: flex;
  align-items: flex-start;
  width: auto;
}

.main-page-list-header{
  text-decoration: underline;
  font-weight: 800;
  padding: 30px;
}

.main-page-plays {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;

}

.main-page-musicals {
  display: flex;
  flex-direction: column;
  flex: left;
  background-color: white;
  padding: 15px;
}
