
.modal-backdrop {
   position: fixed;
   z-index: 10;
   top: 0px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   background: rgba(0,0,0,0.5);
 }

 .modal-component {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 11;
   transform: translate(-50%, -50%);
   background: white;
   border-radius: 5px 5px 0 0 ;
 }

 .modal-form-box {
   outline: 1px solid darkgray;
   padding: 30px;
 }

 .session-form-container {
   display: flex;
   justify-content: center;
   margin-top: 50px;
 }

  .session-form-container, h2 {
    margin-left: 10px;
    font-weight: 400;
  }

 .session-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

.session-form, input, label {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.session-errors{
  font-size: 10px;
  font-weight: lighter;
  color: red;
  margin-left: 10px;
}

// styling help from Aa benchBnB
