.nav-bar-container {
  display: flex;
  flex-direction: column;
}

.nav-bar-main {
  display: flex;
  justify-content: center;
  background-color: #3b9326;
  justify-content: space-between;
  height: 85px;
  margin-top: 20px;
  flex-direction: row;
}

.logo-and-search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  height: 55px;
  width: auto;
  margin: 15px 75px 5px 35px;
}



.search-bar {
  display: block;
  height: 34px;
  width: 300px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.25;
  color: #555;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 25px auto;
  font-weight: lighter;
}

.search-dropdown{
  background: white;
  position: absolute;
  top: 81px;
  z-index: 5;
  color: black;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-left: 1px solid #ccc;
}

.search-list-item {
  padding: 10px;
  border-bottom: 1px solid #F5F5F5;
  min-width: 350px;
}

.session-list {
  display: flex;
  flex: center;
  margin-right: 5px;
}

.session-list li {
  color: white;
  padding: 5px;
  font-weight: lighter;
  font-size: 14px;
  font-weight: 400;
  max-height: 20px;
}

.session-list li:hover {
  cursor: pointer;
}

.trending-bar-under-nav {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 25px;
  border-top: .5px solid #F0F0F0;
  border-bottom: .5px solid #F0F0F0;
}

.trending-text {
  color: #f2e817;
  font-weight: lighter;
  font-size: 13px;
  padding: 2px;
  margin-left: 20px;
  margin-right: 10px;
}

.trending-show {
  color: white;
  font-weight: lighter;
  font-size: 13px;
  text-decoration: none;
  padding: 2px;
  margin: 0 10px;
}

.trending-show:hover {
  color: #f2e817;
}
