.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #3b9326;
  justify-content: space-between;
  height: 85px;
  margin-top: 20px;
}

.logo {
  height: 55px;
  width: auto;
  margin: 15px 0 5px 20px;
}

.session-list {
  display: flex;
  flex: center;
  margin-right: 5px;
}

.session-list li {
  color: white;
  padding: 5px;
  font-weight: lighter;
  font-size: 14px;
  font-weight: 400;
  max-height: 20px;
}

.session-list li:hover {
  cursor: pointer;
}
