.show-show-page {
  display: flex;
  background-color: white;

}

.show-container-for-title-image {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 200px;
  min-width: 200px;
  box-sizing: border-box;
}

.show-container-upper-content {
  display: flex;
  flex-direction: row;
}

.show-container-for-theater-status {
  display: flex;
  flex-direction: column;
}

.show-show-bottom-right-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.show-container-for-critic-consensus{
  display: flex;
  flex-direction: column;
  background-color: #fff7cd;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  width: 100%;
  margin: 0 10px 10px 10px;
}

.show-container-for-image {
  display:flex;
  flex-direction: column;
  width: 95%;
}

.show-show-image {
  width: 175;
  height: 235px;
}

.show-container-for-image {
  display:flex;
  flex-direction: column;
}
.show-container-for-title {
  max-width: inherit;
}

.show-show-title {
  font-weight: 800;
  font-family: 'Limelight', cursive;
  max-width: 100%;
}

.show-show-info {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}

.show-show-right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0;
  background-color: #fff7cd;
}

.show-show-upper-right-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.critic-score-icon {
  width: 65px;
  height: 60px;
  padding: 0 10px;
}

.critic_consensus-header{
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding: 5px 5px 0 5px;
}

.show-container-for-critic-consensus p{
  padding: 0 5px;
  margin:0;
  font-size: 12px;
}
