
.show-show-bottom-right-content{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.show-review-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-form-errors{
  display: flex;
}

.review-form-error-text {
  font-size: 14px;
  color: red;
  margin-right: 20px;
}

.show-review-form-score-and-body-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.show-review-form-score {
  display: block;
  width: 245px;
  height: 34px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.25;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f9fafe;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  margin: 10px 0;
  cursor: default;
}


.show-review-form-body {
  display: block;
  width: 570px;
  height: 60px;
  padding: 5px 13px;
  font-size: 16px;
  line-height: 1.25;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f9fafe;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
}

.show-review-form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 13px;
  line-height: 1.25;
  border-radius: 4px;
  cursor: pointer;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.show-review-form-button:hover {
  background-color: #286090;
  border-color: #204d74;
}
